Repository mchirico/npubsub, changes with the labels that .github/labeler.yml gives for each.
All labels: node, repo, node/datastore, node/septa, github/workflow, node/package, node/tsconfig, storage, src, angular/root, angular/navpages, test

.github/labeler.yml:

# Add 'repo' label to any root file changes

node:
  - node/**/*

repo:
  - ./*

node/datastore:
  - node/src/datastore/**/*

node/septa:
  - node/src/septa/**/*

github/workflow:
  - .github/**/*

node/package:
  - node/package.json

node/tsconfig:
  - node/tsconfig.json

storage:
  - node/src/storage/*

src:
  - node/src/**/*

angular/root:
  - angular/*.json
  - angular/*.md
  - angular/*.sh
  - angular/*.js

angular/navpages:
  - angular/src/app/navpages/**/*

test:
  - node/src/**/*.spec.js

Animation chart
  angular/src/app/app.component.css
  angular/src/app/app.component.html
  angular/src/app/navpages/page0/area-chart/area-chart.component.html
  angular/src/app/navpages/page0/area-chart/area-chart.component.ts
  angular/src/app/navpages/page0/area-chart/start-chart/start-chart.component.html
  angular/src/app/navpages/page0/area-chart/start-chart/start-chart.component.ts
Labels: angular/navpages

Animation chart (#14)
  angular/src/app/app.component.css
  angular/src/app/app.component.html
  angular/src/app/navpages/page0/area-chart/area-chart.component.html
  angular/src/app/navpages/page0/area-chart/area-chart.component.ts
  angular/src/app/navpages/page0/area-chart/start-chart/start-chart.component.html
  angular/src/app/navpages/page0/area-chart/start-chart/start-chart.component.ts
Labels: angular/navpages

Color on graph, clean up
  angular/README.md
  angular/src/app/app-routing.module.ts
  angular/src/app/app.module.ts
  angular/src/app/navbar/navbar/navbar.component.html
  angular/src/app/navpages/home/home.component.css
  angular/src/app/navpages/home/home.component.html
  angular/src/app/navpages/home/home.component.spec.ts
  angular/src/app/navpages/home/home.component.ts
  angular/src/app/navpages/page0/area-chart/start-chart/start-chart.component.ts
Labels: angular/root, angular/navpages

Color on graph, clean up (#15)
  angular/README.md
  angular/src/app/app-routing.module.ts
  angular/src/app/app.module.ts
  angular/src/app/navbar/navbar/navbar.component.html
  angular/src/app/navpages/home/home.component.css
  angular/src/app/navpages/home/home.component.html
  angular/src/app/navpages/home/home.component.spec.ts
  angular/src/app/navpages/home/home.component.ts
  angular/src/app/navpages/page0/area-chart/start-chart/start-chart.component.ts
Labels: angular/root, angular/navpages

Clean up test
  angular/src/app/navpages/page0/area-chart/start-chart/start-chart.component.ts
  node/package-lock.json
  node/package.json
  node/tests/pubsub.spec.ts
Labels: node, node/package, angular/navpages

Clean up test (#16)
  angular/src/app/navpages/page0/area-chart/start-chart/start-chart.component.ts
  node/package-lock.json
  node/package.json
  node/tests/pubsub.spec.ts
Labels: node, node/package, angular/navpages

Default route in node to angular
  node/src/app.ts
  node/tests/pubsub.spec.ts
Labels: node, src

Default route in node to angular (#17)
  node/src/app.ts
  node/tests/pubsub.spec.ts
Labels: node, src

Search input
  angular/src/app/app.module.ts
  angular/src/app/navbar/navbar/navbar.component.html
  angular/src/app/navbar/navbar/navbar.component.spec.ts
  angular/src/app/navbar/navbar/navbar.component.ts
Labels: none

Search input (#18)
  angular/src/app/app.module.ts
  angular/src/app/navbar/navbar/navbar.component.html
  angular/src/app/navbar/navbar/navbar.component.spec.ts
  angular/src/app/navbar/navbar/navbar.component.ts
Labels: none

Search Service with form test
  angular/README.md
  angular/src/app/navbar/navbar/navbar.component.html
  angular/src/app/navbar/navbar/navbar.component.spec.ts
  angular/src/app/navbar/navbar/navbar.component.ts
  angular/src/app/navpages/search/search.component.ts
  angular/src/app/service/backend.service.spec.ts
  angular/src/app/service/backend.service.ts
  angular/src/app/service/search.service.spec.ts
  angular/src/app/service/search.service.ts
Labels: angular/root, angular/navpages

Search Service with form test (#19)
  angular/README.md
  angular/src/app/navbar/navbar/navbar.component.html
  angular/src/app/navbar/navbar/navbar.component.spec.ts
  angular/src/app/navbar/navbar/navbar.component.ts
  angular/src/app/navpages/search/search.component.ts
  angular/src/app/service/backend.service.spec.ts
  angular/src/app/service/backend.service.ts
  angular/src/app/service/search.service.spec.ts
  angular/src/app/service/search.service.ts
Labels: angular/root, angular/navpages

http get with service
  angular/src/app/app.module.ts
  angular/src/app/navbar/navbar/navbar.component.spec.ts
  angular/src/app/navbar/navbar/navbar.component.ts
  angular/src/app/service/backend.service.spec.ts
  angular/src/app/service/backend.service.ts
  angular/src/app/service/model/data.ts
  angular/src/app/service/search.service.spec.ts
  angular/src/app/service/search.service.ts
Labels: none

http get with service (#20)
  angular/src/app/app.module.ts
  angular/src/app/navbar/navbar/navbar.component.spec.ts
  angular/src/app/navbar/navbar/navbar.component.ts
  angular/src/app/service/backend.service.spec.ts
  angular/src/app/service/backend.service.ts
  angular/src/app/service/model/data.ts
  angular/src/app/service/search.service.spec.ts
  angular/src/app/service/search.service.ts
Labels: none

JSONP
  angular/src/app/service/backend.service.spec.ts
  node/src/app.ts
  node/tests/app.spec.ts
Labels: node, src

JSONP (#22)
  angular/src/app/service/backend.service.spec.ts
  node/src/app.ts
  node/tests/app.spec.ts
Labels: node, src

lodash and auth headers in pubsub
  README.md
  angular/src/app/app.component.html
  angular/src/app/navbar/navbar/navbar.component.html
  angular/src/app/navbar/navbar/navbar.component.ts
  node/Makefile
  node/package-lock.json
  node/package.json
  node/src/app.ts
  node/tests/app.spec.ts
Labels: node, repo, node/package, src

lodash and auth headers in pubsub (#23)
  README.md
  angular/src/app/app.component.html
  angular/src/app/navbar/navbar/navbar.component.html
  angular/src/app/navbar/navbar/navbar.component.ts
  node/Makefile
  node/package-lock.json
  node/package.json
  node/src/app.ts
  node/tests/app.spec.ts
Labels: node, repo, node/package, src

Upgrade Angular version
  angular/package-lock.json
  angular/package.json
Labels: angular/root

Upgrade Angular version (#24)
  angular/package-lock.json
  angular/package.json
Labels: angular/root

github.event.repository.owner.login
  .github/workflows/cloudBuild.yml
Labels: github/workflow

github.event.repository.owner.login (#26)
  .github/workflows/cloudBuild.yml
Labels: github/workflow

update
  node/package-lock.json
  node/package.json
Labels: node, node/package
